body {
  text-align: center;
  background-color: #011F3F;
  padding: 0;
  margin: 0 auto;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 2.5rem;
  margin:  2.5% auto 1.5%;
  color: #FEF2BF;
}

#cont-score, #cont-lvl {
  font-size: .8em;
  color: antiquewhite;
  visibility: hidden;
}

#score, #lvl{
  font-weight: 500;
  color: rgb(255,215,0);
  font-size: 1.25em;

}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 5px;
  display: inline-block;
  height: 105px;
  width: 105px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

#ayuda{
  visibility: hidden;
  font-size: 1.em;
  padding: 10px 10px;
  margin: 5px auto;
  background-color: rgba(209, 129, 25, 0.79);
  border: #011F3F 1px solid;
  border-radius: 10%;
  color: rgb(255, 250, 240);
}
#coloresList{
  color: deepskyblue;
  visibility: hidden;
  padding: auto;
  box-shadow: 0 3px 3px 0 rgb(128, 128, 128),
              0 -3px 3px 0 rgb(128, 128, 128);
}